<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styleCuenta.css">
    <title>Log in account</title>
</head>
<body>

     <div class="container">
                  <img src="https://image.freepik.com/free-vector/cartoon-big-blade-ninja-mascot_10308-328.jpg" alt="foto" width="200" height="200" >
                
                  <h1>Entrar al chat ninja</h1>
                  <i>Utiliza una de estas cuentas</i>
                  <br>
             <div class="cont">
               <a href="#" onclick="alert('Esta obcion todavia no esta disponible');"><i class="fa fa-facebook" style="color: white;"> </i> Iniciar con facebook</a> 
                <a href="/cuenta/invitado" ><i class="fa fa-user" style="color: white;"> </i> Entrar como invitado</a>  
              </div>
 
     </div>
</body>
</html>